$plum: #654a69;

@font-face {
    font-family: 'bpmono';
    src: url('BPmono-webfont.woff') format('woff');   
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bpmonoBold';
    src: url('BPmono-webfont.woff') format('woff');   
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'bpmonorItalics';
    src: url('BPmono-webfont.woff') format('woff');   
    font-weight: normal;
    font-style: italic;
}


body {
    font-family: 'bpmono';
    text-align: center;
    font-size: 2rem;
    margin: 0;
    padding: 5%;

    background-color: #e7e8e8;
}

h1 {
    padding: 3%;
    line-height: 10rem;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 9rem;
}

form {
   font-family: 'bpmono';
   width: 100%;
   margin: auto;
   
}

input {
    font-family: 'bpmono';
    height: 8rem;
    width: 90%;
    margin: 1rem;
    font-size: 3rem;
    padding-left: 3rem;
    border: 1px solid #bbb;
    -webkit-box-shadow: 5px 5px 15px -8px #000000; 
    box-shadow: 5px 5px 15px -8px #000000;
     

    ::placeholder {
        color: grey;
        font-size: 1.5em;
      }

    &[name="first"],
    &[name="last"] {
        width: 39%;
    }

    &[type="submit"] {
        height: 9rem;
        width: calc(90% + 3rem);
        font-size: 2.5rem;
        font-weight: 600;
        color: white;
        background-color: black;
        border: 4px solid black;
        padding: 1rem;
        margin-top: 3rem;
        text-transform: uppercase;

        &:hover {
            background-color: white;
            color: black;
            

        }


    }

}